# API

https://github.com/swar/nba_api#readme

# Installs and Imports

In [1]:
# Run once
# !pip install nba_api

In [2]:
# NBA
import nba_api as nba
from nba_api.stats.static import players
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.static import teams
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import playercareerstats
from nba_api.stats.endpoints import boxscoreadvancedv2

# General
import pandas as pd
import numpy as np

# Experiment Getting Players

In [3]:
players_dict = players.get_players()

In [4]:
# Different ways to get players
russells = players.find_players_by_first_name('Russell')
print(russells)
print('\n')

lebron = players.find_player_by_id(2544)
print(lebron)

[{'id': 76478, 'full_name': 'Russell Cross', 'first_name': 'Russell', 'last_name': 'Cross', 'is_active': False}, {'id': 77365, 'full_name': 'Russell Lee', 'first_name': 'Russell', 'last_name': 'Lee', 'is_active': False}, {'id': 201566, 'full_name': 'Russell Westbrook', 'first_name': 'Russell', 'last_name': 'Westbrook', 'is_active': True}]


{'id': 2544, 'full_name': 'LeBron James', 'first_name': 'LeBron', 'last_name': 'James', 'is_active': True}

In [5]:
player_info = commonplayerinfo.CommonPlayerInfo(player_id=2544)

In [6]:
lebron_df = player_info.get_data_frames()[0]
lebron_df

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,2544,LeBron,James,LeBron James,"James, LeBron",L. James,lebron-james,1984-12-30T00:00:00,St. Vincent-St. Mary HS (OH),USA,...,lebron_james,2003,2021,N,Y,Y,2003,1,1,Y

In [7]:
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076')
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927

# Get Games

In [8]:
nba_teams = teams.get_teams()

# Select the dictionary for the Lakers, which contains their team ID
lakers = [team for team in nba_teams if team['abbreviation'] == 'LAL'][0]
lakers_id = lakers['id']

In [9]:
# Query for games where the Lakers were playing
gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=lakers_id)

# The first DataFrame of those returned is what we want.
games = gamefinder.get_data_frames()[0]
games

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22021,1610612747,LAL,Los Angeles Lakers,0022101220,2022-04-10,LAL @ DEN,W,265,146,...,0.894,13,37,50,26,4,6,13,24,5.0
1,22021,1610612747,LAL,Los Angeles Lakers,0022101211,2022-04-08,LAL vs. OKC,W,239,120,...,0.744,7,38,45,23,8,4,9,17,19.0
2,22021,1610612747,LAL,Los Angeles Lakers,0022101202,2022-04-07,LAL @ GSW,L,239,112,...,0.763,8,34,42,14,8,4,18,13,-16.0
3,22021,1610612747,LAL,Los Angeles Lakers,0022101189,2022-04-05,LAL @ PHX,L,241,110,...,0.767,7,39,46,22,7,3,16,14,-11.0
4,22021,1610612747,LAL,Los Angeles Lakers,0022101168,2022-04-03,LAL vs. DEN,L,241,118,...,0.667,6,34,40,31,4,5,12,25,-11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3740,21983,1610612747,LAL,Los Angeles Lakers,0028300066,1983-11-08,LAL @ DEN,W,240,133,...,0.917,22,31,53,30,11,8,23,31,NaN
3741,21983,1610612747,LAL,Los Angeles Lakers,0028300053,1983-11-05,LAL @ DAL,L,240,102,...,0.667,18,23,41,29,7,8,20,27,NaN
3742,21983,1610612747,LAL,Los Angeles Lakers,0028300035,1983-11-02,LAL @ SDC,L,240,106,...,0.760,16,33,49,29,14,7,24,24,NaN
3743,21983,1610612747,LAL,Los Angeles Lakers,0028300010,1983-10-29,LAL @ UTH,W,240,120,...,0.718,29,31,60,25,10,10,20,41,NaN
3744,21983,1610612747,LAL,Los Angeles Lakers,0028300002,1983-10-28,LAL @ KCK,W,240,117,...,0.760,9,29,38,22,6,5,17,16,NaN

In [10]:
box_score = boxscoreadvancedv2.BoxScoreAdvancedV2(game_id = '0022101220')

In [11]:
bscore = box_score.get_data_frames()[1]

In [12]:
bscore.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_NAME', 'TEAM_ABBREVIATION', 'TEAM_CITY',
       'MIN', 'E_OFF_RATING', 'OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'E_NET_RATING', 'NET_RATING', 'AST_PCT', 'AST_TOV', 'AST_RATIO',
       'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'E_TM_TOV_PCT', 'TM_TOV_PCT',
       'EFG_PCT', 'TS_PCT', 'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE',
       'PACE_PER40', 'POSS', 'PIE'],
      dtype='object')